# Database — Neon PostgreSQL
DATABASE_URL=""

# NextAuth
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# MTN Mobile Money Sandbox
MTN_SUBSCRIPTION_KEY=""
MTN_API_USER=""
MTN_API_KEY=""
MTN_BASE_URL="https://sandbox.momodeveloper.mtn.com"
MTN_ENVIRONMENT="sandbox"

# Airtel Money (pending credentials)
AIRTEL_CLIENT_ID=""
AIRTEL_CLIENT_SECRET=""
AIRTEL_BASE_URL="https://openapiuat.airtel.africa"

# Email — Resend
RESEND_API_KEY=""
RESEND_FROM_EMAIL="onboarding@resend.dev"

# Upstash Redis — Rate Limiting
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_PAYMENT_MODE="sandbox"
